@utility pb-safe {
  padding-bottom: env(safe-area-inset-bottom);
}

@utility pb-safe-4 {
  padding-bottom: calc(env(safe-area-inset-bottom) + 16px);
}

@utility pt-safe {
  padding-top: env(safe-area-inset-top);
}

@utility scrollbar-none {
  scrollbar-width: none;
}

@layer utilities {
  .scrollbar-none::-webkit-scrollbar {
    display: none;
  }
}
